In [1]:
import pymysql as msql

In [2]:
configs = {'host': 'localhost',
           'port': 3306,
           'user': 'root',
           'password': 'xiaoyu1986',
           'db': 'mis',
           'autocommit': False
           'use_unicode': True, 
           'charset': "utf8"}

conn = msql.connect(**configs)

In [25]:
cursor = conn.cursor()

### 创建表

In [15]:
def create_table(tb_name, columns, char_set):
    sql = 'CREATE TABLE `%s`(' % tb_name
    for c in columns[:-1]:
        col_name, dtype = c
        txt = '`%s` %s CHARACTER SET %s,' % (col_name, dtype, char_set)
        sql = sql + txt
        
    col_name, dtype = columns[-1]
    txt = '`%s` %s CHARACTER SET %s) DEFAULT CHARACTER SET=%s' % (col_name, dtype, char_set, char_set)
    sql = sql + txt
    cursor.execute(sql)
    conn.commit()

In [13]:
tb_name = '学生表'
columns = [('学号', 'char(7)'), ('姓名', 'varchar(7)'), ('性别', 'enum("男", "女")'),
          ('生日', 'date'), ('专业', 'varchar(10)'), ('奖学金', 'int()')]

In [16]:
create_table('student', columns, 'utf8')

In [4]:
!pwd

/Users/xiaoyu/PycharmProjects/Database/Pymysql

In [8]:
f = open('/Users/xiaoyu/Desktop/专业表.txt', encoding='gbk')
rows = [x.split(',') for x in f.read().split('\n')]

In [9]:
rows

[['01', '国际经济与贸易'],
 ['02', '工商管理'],
 ['03', '市场营销'],
 ['04', '电子商务'],
 ['05', '金融学'],
 ['06', '经济学'],
 ['07', '财务管理'],
 ['08', '商法'],
 ['09', '国际经济法'],
 ['10', '英语'],
 ['11', '法语'],
 ['12', '日语'],
 ['13', '旅游管理'],
 ['14', '国际企业管理'],
 ['15', '会计学'],
 ['16', '第二学位班'],
 ['']]

In [13]:
sql = 'insert into 专业表(专业编号, 专业名称) values (%s, %s)'
for row in rows[:-1]:
    print(row)
    cursor.execute(sql, tuple(row))

['01', '国际经济与贸易']
['02', '工商管理']
['03', '市场营销']
['04', '电子商务']
['05', '金融学']
['06', '经济学']
['07', '财务管理']
['08', '商法']
['09', '国际经济法']
['10', '英语']
['11', '法语']
['12', '日语']
['13', '旅游管理']
['14', '国际企业管理']
['15', '会计学']
['16', '第二学位班']

In [12]:
help(cursor.execute)

Help on method execute in module pymysql.cursors:

execute(query, args=None) method of pymysql.cursors.Cursor instance
    Execute a query

    :param str query: Query to execute.

    :param args: parameters used with query. (optional)
    :type args: tuple, list or dict

    :return: Number of affected rows
    :rtype: int

    If args is a list or tuple, %s can be used as a placeholder in the query.
    If args is a dict, %(name)s can be used as a placeholder in the query.

In [14]:
conn.commit()

In [17]:
cursor.execute('show tables')
tbs = [x[0] for x in cursor]

In [18]:
tbs

['专业表', '学生表', '成绩表', '课程表']

In [26]:
cursor.execute('show create table 学生表')
a = cursor.fetchall()
print(a[0][1])

CREATE TABLE `学生表` (
  `学号` char(7) CHARACTER SET utf8 NOT NULL,
  `姓名` varchar(7) CHARACTER SET utf8 DEFAULT NULL,
  `性别` enum('男','女') CHARACTER SET utf8 DEFAULT NULL,
  `生日` date DEFAULT NULL,
  `专业` varchar(7) CHARACTER SET utf8 DEFAULT NULL,
  `奖学金` float DEFAULT NULL,
  `党员` enum('是','否') CHARACTER SET utf8 DEFAULT NULL,
  `备注` varchar(255) CHARACTER SET utf8 DEFAULT NULL,
  PRIMARY KEY (`学号`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci

In [24]:
cursor.close()